<div class="card">

    <div class="card-divider">

        <h6 class="text-center">Általános ügyintézés:
        </h6>


    </div>

    <div class="card-section">
        <div class="grid-x grid-padding-x">
            <div class="cell large-8">
                <ul>
                    {{#each ugyintaltalanos}}
                    <li>
                        {{this}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="cell large-4"> <img class="thumbnail" src="{{root}}assets/img/ugyintezes-portr.jpg">
            </div>
        </div>


    </div>
</div>