<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <h1>Welcome to Foundation</h1>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <div class="callout">
        <h3>Rövid leírás </h3>
        <p>Lórum ipse már nem szart, hanem sánytatos. a ballada démos és szelt ügyesség, mint a pendő - és sokszor pert
          - gésztés. A nem lelő vistán lévő felépszeket csípő kell pornyadoznia. Lelő a beli szuszált senység, biásos
          nyáron kelyhes, télen viszont szűrű a nap alacsonyan juhál - lezderszerben van. Az ínépen okálhat senységre
          erősítve, de zsémeghet cseményben is brámok közt kifeszítve. A tízszett kompár kb. fél parmusra legyen a
          kulaszttól. A dorovány lonás mindig talan lomoncsony legyen (szellem, puttony), vagy bűnök, de sose apárdék. A
          rászat spóságtól a morható rászatig és tovább. A fejtes azonnal üzelezi, ha nem vigosít neki valami.
        </p>
        <p>Annyira vetelgő az izgékony öltenség, hogy tűrényét alig lehet gyönyörnie. A karsok zatlana, hogy vőség és a
          szenességek kazellájával olyan telt válist hajazjanak, amely éhezi a marímások minden csalmid öltenségét az
          őrző és bomorgyásos ámlás számára. Az ülég az első kerege azoknak az eges szülenségeknek, amelyekre minden
          evénynek sógartása van. „A karsok teleg olánya és vigresze bécsi, mert szorosan szakol a mulatos ámlás
          istásával ; peres és határos, mert minden szekes teleg vezéssel szemben a karsok és a marímások cásos
          ávságlyára szelget ; dicsodráklan és jeli, azaz másokra teljesen át nem lomló és mások nem tallgazhatják. E
          stéseken kívül nem torít neheznie arról a tátlan bukótásról, amely ményíti a karsok teleg zatlanát: a ramvagos
          és hitelező leporról, amely a teleg vezésben szundít be, hiszen így vákodja meg és sejegyezi végre teljesen az
          ámlás vántáját. Az izgékony lepor előbb vakola, majd bicskája, s ezért batóra is lesz minden langyos teleg
          kerhegnek, melyet a lepor férnyi matásaként a germedés, a stum, a kopóta, az alaj, valamint a részkettsésre, a
          műtőre és a rökhemre való kénemő teleg tultossá. Ámbár telmetben több zöltés ványozja a teleg vezést, a
          karsoknak mégis szampasággal és biákos honával kell tásniuk marímásaikat a mulatos ámlás fegyéire.

        </p>
      </div>
    </div>
  </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="large-8 medium-8 cell">
    <h5>Here&rsquo;s your basic grid:</h5>
    <!-- Grid Example -->

    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <div class="primary callout">
          <p><strong>This is a twelve cell section in a grid-x.</strong> Each of these includes a div.callout element
            so you can see where the cell are - it's not required at all for the grid.</p>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-6 medium-6 cell">
        <div class="primary callout">
          <p>Six cell</p>
        </div>
      </div>
      <div class="large-6 medium-6 cell">
        <div class="primary callout">
          <p>Six cell</p>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-4 medium-4 small-4 cell">
        <div class="primary callout">
          <p>Four cell</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 cell">
        <div class="primary callout">
          <p>Four cell</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 cell">
        <div class="primary callout">
          <p>Four cell</p>
        </div>
      </div>
    </div>

    <hr />

    <h5>We bet you&rsquo;ll need a form somewhere:</h5>
    <form>
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <label>Input Label</label>
          <input type="text" placeholder="large-12.cell" />
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="large-4 medium-4 cell">
          <label>Input Label</label>
          <input type="text" placeholder="large-4.cell" />
        </div>
        <div class="large-4 medium-4 cell">
          <label>Input Label</label>
          <input type="text" placeholder="large-4.cell" />
        </div>
        <div class="large-4 medium-4 cell">
          <div class="grid-x">
            <label>Input Label</label>
            <div class="input-group">
              <input type="text" placeholder="small-9.cell" class="input-group-field" />
              <span class="input-group-label">.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <label>Select Box</label>
          <select>
            <option value="husker">Husker</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="large-6 medium-6 cell">
          <label>Choose Your Favorite</label>
          <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
        </div>
        <div class="large-6 medium-6 cell">
          <label>Check these out</label>
          <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <label>Textarea Label</label>
          <textarea placeholder="small-12.cell"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="large-4 medium-4 cell">
    <h5>Try one of these buttons:</h5>
    <p><a href="#" class="button">Simple Button</a><br />
      <a href="#" class="success button">Success Btn</a><br />
      <a href="#" class="alert button">Alert Btn</a><br />
      <a href="#" class="secondary button">Secondary Btn</a>
    </p>
    <div class="callout">
      <h5>So many components, girl!</h5>
      <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details
        on making them your own.</p>
      <a href="https://get.foundation/sites/docs/" class="small button">Go to Foundation Docs</a>
    </div>
  </div>
</div>
</div>