<div class="callout">
  <h5 class="text-center">Társasházi portálunk</h5>
  <p class="text-center">Belépés a társasházi portálra.</p>
  <a href="https://www.tarsashazam.hu/logon.aspx?ReturnUrl=%2f" target="_blank" class="button expanded">Belépés</a>
</div>
<img class="thumbnail" src="https://placehold.co/420x320?text=referencia kép">
<p class="text-center" style="margin-top: -0.4rem;"><i>Annyi, hogy leérjen az oldal aljáig...</i></p>
<!-- <img class="thumbnail" src="https://placehold.co/420x320?text=referencia kép 2">
<p class="text-center" style="margin-top: -0.4rem;"><i>Képaláírás</i></p>
<img class="thumbnail" src="https://placehold.co/420x320?text=referencia kép 3">
<p class="text-center" style="margin-top: -0.4rem;"><i>Képaláírás</i></p> -->